@{ ViewBag.Title = "Peliculas_clasifi";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenedores</a></li>
    <li class="breadcrumb-item active"> Listado de numero de peliculas por clasificacion</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i> Listado de numero de peliculas por clasificacion
    </div>
    <div class="card-body">


        <hr />
        <table id="tabla" class="display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Clasificacion</th>
                    <th>CantidadPeliculas</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{

    <script>
        var tabladata;

        $(document).ready(function () {


                tabladata = $('#tabla').DataTable({
                    responsive:true,
                    "ajax": {
                        "url": '@Url.Action("ListarPeliculas_clasifi", "Home")',
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "Clasificacion" },
                        { "data": "CantidadPeliculas" },

                    ],
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                    }
                });
        });

    </script>

}